<!DOCTYPE html>
<html>
<title>Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>MY BLOG</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">unknown</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

{% if no_users %}
<!-- Blog entries -->
<div class="w3-col l12 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
        <h3><b>{{ no_users }}</b></h3>
      </div>
    </div>
    <hr>
  <!-- END BLOG ENTRIES -->
  </div>
{% endif %}
{% if users_uid %}
<!-- Blog entries -->
<div class="w3-col l12 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>{{ users_uid.name }}</b></h3>
    </div>

    <div class="w3-container">
      <p>Email: {{ users_uid.email }}</p>
      <p>Password: {{ users_uid.password }}</p>
      <p>Admin: {{ users_uid.admin_acc }}</p>
    </div>
  </div>
  <hr>
<!-- END BLOG ENTRIES -->
</div>
{% endif %}

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>


</body>
</html>
